<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Office Employeer Management System</h1>
        <hr/>
        <a class="btn btn-primary" href="/all_emp" role="button">View All Employee</a>
        <a class="btn btn-primary" href="/add_emp" role="button">Add an Employee</a>
        <a class="btn btn-primary" href="/remove_emp" role="button">Remove an Employee</a>
        <a class="btn btn-primary" href="/filter_emp" role="button">Filter Employee Employee</a>
      </div>
    
</body>
</html>